.container {
  min-width: 360px;
  max-width: 30%;
  height: 100%;
  vertical-align: bottom;
}

.vertical-center {
  min-height: 40%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 40vh; 
  display: flex;
  align-items: center;
}

.margin-top {
  margin-top: .5rem;
}