<a routerLink="/login" id="goback">Go back</a>
<form class="form-signin" #formData='ngForm' (ngSubmit)="onSubmit(formData)">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input id="inputEmail" type="text" placeholder="Email address.." (ngModel)="email" name="email" class="form-control" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input id="inputPassword" type="password" placeholder="Password" (ngModel)="password" name="password" class="form-control" required>

  <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!formData.valid">Log in</button>
  <a routerLink="/signup">Don't have an account?</a>
</form>