<div class="jumbotron"><h1><a style="color: black" routerLink="/">Ingfluencer</a></h1></div>
<div class="container">
  <a routerLink="/login" id="goback">Go back</a>
  <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
    <!--<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>-->
    <input id="inputEmail" type="text" placeholder="Email address" (ngModel)="email" name="email" class="form-control margin-top" required autofocus>
    <input id="inputPassword" type="password" placeholder="Password" (ngModel)="password" name="password" class="form-control margin-top" required>
    <button class="btn btn-lg btn-primary btn-block margin-top" type="submit" [disabled]="!formData.valid" >Log in</button>
    <a routerLink="/signup">Don't have an account?</a>
  </form>
</div>
