<div class="jumbotron vertical-center">
  <div class="container">
    <a routerLink="/login" id="goback">Go back</a>
    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
      <input id="inputEmail" type="text" placeholder="Email address" (ngModel)="email" name="email" class="form-control margin-top" required autofocus>
      <input id="inputPassword" type="password" placeholder="Password" (ngModel)="password" name="password" class="txt" class="form-control margin-top" required>
      <button class="btn btn-lg btn-primary btn-block margin-top" type="submit" [disabled]="!formData.valid">Create my account</button>
    </form>
  </div>
</div>