<div style="background-color: #e9ecef; height:100vh">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" routerLink="/">Ingfluencer</a>
    </nav>
    <hr>
    <div class="container">
        <p>Welcome {{name}}</p>
        <label>Enter your youtube channel id:</label>
        <input type="text" placeholder="youtube channel"  [(ngModel)]="youtubeId" required>
        <button (click)="save()" type="submit">Save</button>
        <hr>
        <button (click)="logout()">Logout</button>
        <div>
            <!--
            <h2>{{ item | async | json }}</h2>
            -->
            <h2>{{ item | async }}</h2>
        </div>
        <input type="text" #newname placeholder="Name" />
        <input type="text" #newsize placeholder="Size" />
        <br />
        <button (click)="save()">Set Name</button><br/>
        <button (click)="update(newsize.value)">Update Size</button><br/>
        <button (click)="delete()">Delete</button>
    </div>
</div>